.header {
  background    : #888          ;
  display       : flex          ;
  gap           : 4rem          ;
  padding       : 1rem          ;
  place-content : space-between ;
  place-items   : center        ;
}

.header a {
  text-decoration : none  ;
  color           : black ;
}

.nav {
  display : flex ;
  gap     : 1rem ;
}
