.header {
  background  : #888   ;
  display     : flex   ;
  gap         : 4rem   ;
  place-items : center ;
  padding     : 1rem   ;
}

.header a {
  text-decoration : none  ;
  color           : black ;
}

.nav {
  display : flex ;
  gap     : 1rem ;
}
