.list {
  display        : flex   ;
  flex-direction : column ;
  gap            : 0.5rem ;
  margin         : 2rem 0 ;
}

.list li {
  display         : flex          ;
  justify-content : space-between ;
  max-width       : 15rem         ;
}

.list li button {
  padding       : 0.25rem ;
  border-radius : 0.25rem ;
}
